* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  html, body {
    height: 100%;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #786fa6;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.index {
  padding: 100px 10px;
}

.index__box {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(7, minmax(140px, 1fr));
  grid-row-gap: 20px;
}

@media (max-width: 1200px) {
  .index__box {
    grid-template: auto/repeat(5, minmax(140px, 1fr));
  }
}

@media (max-width: 954px) {
  .index__box {
    grid-template: auto/repeat(4, minmax(140px, 1fr));
  }
}

@media (max-width: 767px) {
  .index__box {
    grid-template: auto/repeat(3, minmax(150px, 1fr));
  }
}

@media (max-width: 560px) {
  .index__box {
    grid-template: auto/repeat(2, minmax(150px, 1fr));
  }
}

@media (max-width: 410px) {
  .index__box {
    grid-template: auto/minmax(150px, 1fr);
  }
}

.index__item {
  font-size: 26px;
  color: #cdcfd4;
  text-align: center;
  height: auto;
  margin: 0 15px;
}

.index__link {
  transition: 0.3s;
}

.index__icon {
  width: 50px;
  height: 50px;
}

.index__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #cdcfd4;
  border-radius: 25px;
  padding: 7px;
  color: #cdcfd4;
  transition: 0.3s;
}

.index__text:hover {
  color: #786fa6;
  background-color: #cdcfd4;
}
